body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.content-predio-img {
    padding-top: 80px;
    padding-bottom: 20px;
}
.mardis-predio-img {
    width: 400px !important;
    height: 400px !important;
 
}
#loading {
    width: 100%;
    height: 100%;
    top: 1%;
   
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
   
}
.bg-warning-mardis {
background-color:#fff;
}



    .bg-warning-mardis .file-preview-frame {
        width: 100px;
        height: 120px;
    }

.krajee-default.file-preview-frame .kv-file-content {
    width: 85px !important;
    height: 130px !important;
}

#myModal-mardis {
 
    padding-top: 50px !important;
}

#close-img {
    color: red;
    margin-right: 5px;
}
.timeline {
border:none !important;
}
.content-wrapper, .main-footer {
    margin-left: 20px !important;
    background-color: #ecf0f5 !important;
}
.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #ecf0f5 !important;
}
.fixed .content-wrapper, .fixed .right-side {
    padding-top: 10px !important;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px !important;
    background: rgb(153, 172, 194) ;
    margin: 0;
    top: -18px !important;
    border-radius: 1px;
}
.timeline {
    background: transparent !important;
    margin: 0px !important;
}
#timeline .box {
    box-shadow: none !important;
}

/*.timeline-inverse > li > .timeline-item {
    background: rgb(255, 255, 255);
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

.timeline-inverse > li > .timeline-item {
    border-radius: .1875rem !important;
    background-color: #fff !important;
    box-shadow: 0 1px 5px 0 rgba(45,62,80,.12) !important;
    padding: 2.5rem !important;
    position: relative !important;
    width: 90% !important;
}

.timeline-header a {
    color: #003f75 !important;
}


