@model Realstate.Models.BaseDatos.Project

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_RealState.cshtml";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdAccount" class="control-label"></label>
                <select asp-for="IdAccount" class="form-control" asp-items="ViewBag.IdAccount"></select>
                <span asp-validation-for="IdAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdZona" class="control-label"></label>
                <select asp-for="IdZona" class="form-control" asp-items="ViewBag.IdZona"></select>
                <span asp-validation-for="IdZona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTypeProject" class="control-label"></label>
                <select asp-for="IdTypeProject" class="form-control" asp-items="ViewBag.IdTypeProject"></select>
                <span asp-validation-for="IdTypeProject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusRegister" class="control-label"></label>
                <input asp-for="StatusRegister" class="form-control" />
                <span asp-validation-for="StatusRegister" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
