@model Realstate.Models.BaseDatos.Project

@{
    ViewData["Title"] = "View4";
    Layout = "~/Views/Shared/_RealState.cshtml";
}

<h2>View4</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdAccount" class="control-label"></label>
                <select asp-for="IdAccount" class="form-control" asp-items="ViewBag.IdAccount"></select>
                <span asp-validation-for="IdAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdContry" class="control-label"></label>
                <select asp-for="IdContry" class="form-control" asp-items="ViewBag.IdContry"></select>
                <span asp-validation-for="IdContry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProvince" class="control-label"></label>
                <select asp-for="IdProvince" class="form-control" asp-items="ViewBag.IdProvince"></select>
                <span asp-validation-for="IdProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDistrict" class="control-label"></label>
                <select asp-for="IdDistrict" class="form-control" asp-items="ViewBag.IdDistrict"></select>
                <span asp-validation-for="IdDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdParish" class="control-label"></label>
                <select asp-for="IdParish" class="form-control" asp-items="ViewBag.IdParish"></select>
                <span asp-validation-for="IdParish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSector" class="control-label"></label>
                <select asp-for="IdSector" class="form-control" asp-items="ViewBag.IdSector"></select>
                <span asp-validation-for="IdSector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLink" class="control-label"></label>
                <select asp-for="IdLink" class="form-control" asp-items="ViewBag.IdLink"></select>
                <span asp-validation-for="IdLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZonaId" class="control-label"></label>
                <select asp-for="ZonaId" class="form-control" asp-items="ViewBag.ZonaId"></select>
                <span asp-validation-for="ZonaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usercreation" class="control-label"></label>
                <input asp-for="Usercreation" class="form-control" />
                <span asp-validation-for="Usercreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusRegister" class="control-label"></label>
                <input asp-for="StatusRegister" class="form-control" />
                <span asp-validation-for="StatusRegister" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
