
        <!-- Profile Image -->
        <div class="box box-default">
            <div class="box-body box-profile">

                <img class="profile-user-img img-responsive img-circle" src="~/Framework/dist/img/avatar04.png" alt="User profile picture">



                <p class="text-muted text-center">Edificación Lubricadoras</p>
                <div class="form-group">
                    <label>Estado</label>
                    <select class="form-control">
                        <option>Aprobado</option>
                        <option>Pendiente</option>
                        <option>Negado</option>

                    </select>
                </div>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Dirreción</b> <a class="pull-right">Inca y Syris</a>
                    </li>
                    <li class="list-group-item">
                        <b>Referencia</b> <a class="pull-right">Frente a Banco del Pichincha</a>
                    </li>
                    <li class="list-group-item">
                        <b>Zona</b> <a class="pull-right">Norte</a>
                    </li>
                </ul>

                <button type="button" class="btn bg-olive btn-flat margin pull-right">Editar</button>
            </div>
            <!-- /.box-body -->
        </div>


        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Localización</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                Mapa
            </div>
            <!-- /.box-body -->
        </div>


        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Multimedia</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                Mapa
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

