<div class="post clearfix" style="background-color:white">
    <div class="box-body pad">

        <textarea id="editor1" name="editor1" rows="10" cols="80">
                                           Comentario..
                    </textarea>

    </div>
    <div class="box-footer">
        <div class="pull-right">

            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Guardar</button>
        </div>

    </div>
</div>
    <script>

                //bootstrap WYSIHTML5 - text editor

    </script>
