<div id="DetailTask">
    <div id="timeline" v-if="tasks !='-1' ">
        <!-- The timeline -->
        <div v-for="(task_vue, x) in orderedUsers  "> 
            <div v-if="task_vue!='null'">
                <ul class="timeline timeline-inverse box" v-if="task_vue.idTypeTask==1">
                    <!-- timeline time label -->
                    <li class="box-header  time-label">

                        <button type="button" class="btn btn-box-tool btn bg-olive btn-flat" data-widget="collapse">
                            {{moment(task_vue.dateModification).format('ll')}}
                        </button>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->

                    <li class="box-body">

                        <i class="fa fa-sticky-note bg-blue"></i>
                        <div class="timeline-item" style="border-radius:0px !important">

                            <span class="time"><i class="fa fa-clock-o"></i>   {{moment(task_vue.dateModification).format('LT')}}</span>
                            <h3 class="timeline-header"><a href="#">Notas del Predio</a> </h3>
                            <div class="timeline-body">
                                <div class=" invoice-col">
                                    <br>
                                    <p v-html="task_vue.detailtaks[0].coment"></p>
                                </div>

                            </div>
                            <div class="timeline-footer pull-right ">
                            </div>
                        </div>
                    </li>

                </ul>

                <!---Correos--->
                <ul class="timeline timeline-inverse box" v-if="task_vue.idTypeTask==2">
                    <!-- timeline time label -->
                    <li class="box-header  time-label">

                        <button type="button" class="btn btn-box-tool btn bg-aqua btn-flat" data-widget="collapse">
                            {{moment(task_vue.dateModification).format('ll')}}
                        </button>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->

                    <li class="box-body">

                        <i class="fa fa-envelope bg-maroon"></i>
                        <div class="timeline-item" style="border-radius:0px !important">

                            <span class="time"><i class="fa fa-clock-o"></i>   {{moment(task_vue.dateModification).format('LT')}}</span>
                            <h3 class="timeline-header"><a href="#">Destinatario :</a>  {{task_vue.detailtaks[0].addressee}}</h3>
                            <div class="timeline-body">
                                <div class=" invoice-col">
                                    <b>{{task_vue.detailtaks[0].subjects}}</b> <br>
                                    <p v-html="task_vue.detailtaks[0].coment"></p>
                                </div>
                                <div class=" invoice-col" v-if="task_vue.detailtaks[0].attached!=''">
                                    <hr />
                                <a v-bind:href="'.'+task_vue.detailtaks[0].attached" class="btn btn-app" >
                                    <span class="badge bg-aqua">1</span>
                                    <i class="fa fa-file"></i> Adjunto
                                </a>
                               
                            </div>
                            </div>
                            </div>
                    </li>
                   

                </ul>



                <!---Reunion--->
                <ul class="timeline timeline-inverse box" v-if="task_vue.idTypeTask==4">
                    <!-- timeline time label -->
                    <li class="box-header  time-label">

                        <button type="button" class="btn btn-box-tool btn bg-orange-active btn-flat" data-widget="collapse">
                            {{moment(task_vue.dateModification).format('ll')}}
                        </button>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->

                    <li class="box-body">


                        <i class="fa fa-tasks bg-orange"></i>
                        <div class="timeline-item" style="border-radius:0px !important">

                            <span class="time"><i class="fa fa-clock-o"></i>   {{moment(task_vue.dateModification).format('LT')}}</span>
                            <h3 class="timeline-header"><a href="#">Tarea</a>  {{task_vue.detailtaks[0].addressee}}</h3>
                            <div class="timeline-body">
                                <div class=" invoice-col">
                                    <b>{{task_vue.detailtaks[0].subjects}}</b> <br>
                                    <p>{{task_vue.detailtaks[0].coment}}</p>
                                    <b>Fecha programada:</b>{{moment(task_vue.detailtaks[0].creation_meeting).format('L')}} <br />
                                    <b>Tiempo estimado :</b>{{time(task_vue.detailtaks[0].creation_meeting,task_vue.detailtaks[0].endMeting)}}
                                </div>

                            </div>
                            <div class="timeline-footer pull-right ">
                          
                            </div>
                        </div>
                    </li>

                </ul>
                <!---Reunion--->
                <ul class="timeline timeline-inverse box" v-if="task_vue.idTypeTask==6">
                    <!-- timeline time label -->
                    <li class="box-header  time-label">

                        <button type="button" class="btn btn-box-tool btn bg-aqua btn-flat" data-widget="collapse">
                            {{moment(task_vue.dateModification).format('ll')}}
                        </button>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->

                    <li class="box-body">

                        <i class="fa fa-calendar bg-red"></i>
                        <div class="timeline-item" style="border-radius:0px !important">

                            <span class="time"><i class="fa fa-clock-o"></i>   {{moment(task_vue.dateModification).format('LT')}}</span>
                            <h3 class="timeline-header"><a href="#">Reunión</a>  </h3>
                            <div class="timeline-body">
                                <div class=" invoice-col">
                                    <b>{{task_vue.detailtaks[0].subjects}}</b> <br>
                                    <p>{{task_vue.detailtaks[0].coment}}</p>
                                    <b>Persona:</b>{{task_vue.detailtaks[0].addressee}} <br />
                                    <b>Fecha programada:</b>{{moment(task_vue.detailtaks[0].creation_meeting).format('L')}} <br />
                                    <b>Tiempo estimado :</b>{{time(task_vue.detailtaks[0].creation_meeting,task_vue.detailtaks[0].endMeting)}}
                                </div>

                            </div>
                            <div class="timeline-footer pull-right ">
                            </div>
                        </div>
                    </li>

                </ul>
            </div>


        </div>
       

    </div>


</div>
